parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
#    - '~PHPDoc tag @throws with type .* is not subtype of Throwable~'
#    - '~Useless @throws .* annotation~'
    - '~Strict comparison using === between .* and \$this(.*) will always evaluate to false~'
    - '~Access to an undefined property .*::\$.*~'
    - '~Parameter #1 .* of method .* expects .*, .* given~'
    - '~Call to an undefined method .*::findAll~'
    - '~Class .* implements deprecated interface~'
    - '~Return type .* of method .*::toArray\(\) should be compatible with return type .* of method Mezzio\\Navigation\\ContainerInterface::toArray\(\)~'
    - '~Method Mezzio\\Navigation\\Navigation::toArray\(\) should return~'
    - '~Offset .uri. does not exist on array<int, array<string, string>\|bool\|float\|int\|string\|null>~'
