parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions: []
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~PHPDoc tag @throws with type .* is not compatible with parent~'
    - '~PHPDoc tag @throws with type .*Interface is not subtype of Throwable~'
    - '~Useless @throws .* annotation~'
    - '~Strict comparison using === between .* and \$this(.*) will always evaluate to false~'
    - '~Access to an undefined property .*::\$.*~'
    - '~Parameter #1 .* of method .* expects .*, .* given~'
