parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions: []
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~PHPDoc tag @throws with type .* is not compatible with parent~'
    - '~PHPDoc tag @throws with type .* is not subtype of Throwable~'
    - '~Useless @throws .* annotation~'
    - '~Strict comparison using === between .* and \$this(.*) will always evaluate to false~'
    - '~Access to an undefined property .*::\$.*~'
    - '~Parameter #1 .* of method .* expects .*, .* given~'
    - '~Call to an undefined method .*::findAll~'
    - '~Class .* implements deprecated interface~'
    - '~Call to (static )?(method|function) .* with .* will always evaluate to true~'
    - '~Instanceof between .* and .* will always evaluate to true~'
    - '~Only booleans are allowed in~'
    - '~Variable method call on~'
    - '~Return type \(Mezzio\\Navigation\\Page\\PageInterface\|null\) of method .*::getChildren\(\) should be covariant with return type \(RecursiveIterator\) of method RecursiveIterator::getChildren\(\)~'
    - '~Parameter #\d .* of method .* should be contravariant with parameter~'
    - '~Casting to .* something that.s already~'
